@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Kaisei+Tokumin:wght@500&display=swap');
  
*{
    margin: 1;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body{
    font-family: 'kaiseip', sans-serif;
    color: white;
    background-color: #191970;
  }
  
  main{
    text-align: center;
  }
  
  main img{
    width:300px;
    border-radius: 10%;
  }
  
  label, select{
    display: block;
    border-radius: 10%;
  }
  
  input, textarea{
    margin-bottom: 15px;
    border-radius: 10%;
  }
  
  select{
    margin: 0px auto 15px;
    border-radius: 10%;
  }